*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    }
body{
    background: cadetblue;
    }
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(130deg , rgb(124, 0, 128), rgb(51, 75, 212));
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}    
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #fff;
    color: rgb(26, 25, 25);
    padding: 10px 20px;
    flex: 1;
    height: 60px;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weatherh1{
    font-size: 80px;
    font-weight: 500;
    align-items: center;
}
.weatherh2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    align-items: center;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.colimg{
    width: -20px;
    margin-right: -10px;

}
.humidity,
.wind {
    font-size: 26px;
    margin-top: -7px;
}
.visibility{
        font-size: 15px;
        margin-top: -2px;
        margin-right: 10px;
        margin-left: 10px;
    }   
